.registro_productos{
    width: 700px;
  height: fit-content;
  background: #24303c;
  margin-top: 50px;
  /* Se le quita del 100% de la pantalla
       el 18% que ocupa la barra lateral y se
       adiciona el resto para que se pueda ver */
  margin-left: calc(100% - 70%);
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  color : white;
  box-shadow: 7px 20px 37px #00718b;
  padding-left: 90px;
  padding-top: 20px;
}

.registro_productos h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
}


.informacion_productos {
    width: 80%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 3px solid #00718b;
    color : white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.registro_productos p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    width: 86%;
}

.registro_productos button{
    width: 80%;
    background: #00718b;
    border : none;
    padding: 12px;
    color : white;
    margin: 16px 0;
    font-size: 16px;
    margin-left: 2%;
}

.tabla_productos{
    height: fit-content;
    width: fit-content;
    background: #24303c;
    padding: 10px;
    margin: auto;
    margin-top: calc(100% - 96%);
    margin-left: calc(100% - 76%);
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    color : white;
    box-shadow: 7px 20px 37px #00718b;
    float: left;
}

.tabla_productos th{
    font-size: 18px;
    margin-bottom: 20px;
    border: 3px solid #00718b;
    text-align: center;
    color: rgb(205, 225, 255);
    background-color: rgba(75, 82, 177, 0.726);
}

.tabla_productos td{
    /* width: 100%; */
    background: #24303c;
    border: 2px solid #00718b;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
}

.tabla_productos button{
  width: 100%;
  background: #00718b;
  border : none;
  padding: 4px;
  color : white;
  margin: 16px 0;
  font-size: 20px;  
}

.buscar {
    width: 97%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 10px;
    border: 3px solid #00718b;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
  }
  
  .hide {display:none;}
  .red{color: red;}